body, .album{
    background-color: rgb(221, 221, 221);
}
.navbar-light .navbar-brand{
    color: #FFF;
}
nav.bg-light{
    background-color: #3C484F!important;
}
.navbar .cartWidget .badge{
    background-color: grey;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link{
    color: #FFF;
    font-weight: bold;
}
p button{
    margin: 2px;
}
.navbar-brand:hover{
    color:#FFF!important;
}
.nav-link:hover {
    color:rgb(110, 110, 110)!important;
}
input{
    text-align:center;
}
.nav-item{
    .nav-link{
        >i {
            margin-right: 0.5em;
        }
    }
    .active{
        color:#9595eb !important;
    }
}

header a{
    margin-left: 1rem;
}

.itemListContainer{
    .card{
        min-height: 450px;
    }
    .card-body{
        display: flex;
        align-items: flex-end;
        >div {
            width: 100%;
        }
    }
    .img{
        height: 300px;
        img {
            width:100%;
            max-height: 100%;
        }
    }
    
}

.itemDetailContainer{
    margin-top: 10px;
    .item-photo{
        display:flex;
        justify-content:center;
        align-items:flex-start;
        border-right:1px solid #4d4c4c;
    }
    .section{
        width:100%;
        margin-left:-15px;
        padding:2px;
        padding-left:15px;
        padding-right:15px;
        padding-bottom:20px;
        > div{
            width:100%;
            display:inline-flex;
            > input{
                margin:0;
                padding-left:5px;
                font-size:10px;
                padding-right:5px;
                max-width:18%;
                text-align:center;
            }
        }
        .btn-minus-plus{
            cursor:pointer;
            font-size:15px;
            display:flex;
            align-items:center;
            padding:1spx;
            padding-left:5px;
            padding-right:5px;
            border:1px solid gray;
            border-radius:2px;
            
        }
        .btn-minus-plus:hover{
            background-color: #c7c7c7;
        }
        .title-attr{
            margin-top:0;
            margin-bottom:0;
            color:black;
            padding-bottom: 5px;
        }    
    }
}

.itemDetail{
    img { width: 100%}
    ul {
        list-style-type: none;
        padding: 0;
        margin: 7px 0;
        li {
            margin: 7px 0;
            text-transform: capitalize;
            b{
                margin-right: 5px;
            }
        }
    }
    button {
        margin-right: 5px;
    }
}

.itemCount{
    button{
        margin-left: 5px;
    }
}

.carroPage, .datosCompra{
    .empty{
        .header{
            margin-top: 50px;
            text-align: center;
            i{
                font-size: 100px;
            }
        }
        div{
            text-align: center;
        }
    }
    .shopping-cart{
        margin-bottom: 20px
    }

    .shopping-cart .table,
    .table {
        margin-bottom: 0
    }

    .shopping-cart .btn{
        margin: 0
    }

    .shopping-cart>table>tbody>tr{
        border-color:#ccc;
    }

    .shopping-cart>table>thead>tr>th,
    .shopping-cart>table>thead>tr>td,
    .shopping-cart>table>tbody>tr>th,
    .shopping-cart>table>tbody>tr>td
    {
        vertical-align: middle !important
    }

    .shopping-cart>table thead th
    {
        padding-top: 17px;
        padding-bottom: 17px;
        border-bottom-width: 1px;
    }

    .shopping-cart .btn-rows
    {
        display: inline-block;
        font-size: 18px;
        line-height: 1;
        text-decoration: none
    }

    .remove-from-cart{
        color: #ff5252;
    }

    .detail-from-cart{
        color: #070707;
    }

    .shopping-cart .count-input
    {
        display: inline-block;
        width: 100%;
        width: 86px
    }

    .shopping-cart .product-item{
        display: table;
        width: 100%;
        min-width: 150px;
        margin-top: 5px;
        margin-bottom: 3px
    }

    .shopping-cart .product-item .product-thumb,
    .shopping-cart .product-item .product-info{
        display: table-cell;
        vertical-align: top
    }

    .shopping-cart .product-item .product-thumb{
        width: 130px;
        padding-right: 20px
    }

    .shopping-cart .product-item .product-thumb>img{
        display: block;
        width: 100%
    }

    @media screen and (max-width: 860px) {
        .shopping-cart .product-item .product-thumb{
            display: none
        }
    }

    .shopping-cart .product-item .product-info span{
        display: block;
        font-size: 13px
    }

    .shopping-cart .product-item .product-info span>em{
        font-weight: 500;
        font-style: normal;
        color:#494949;
    }

    .shopping-cart .product-item .product-title{
        margin-bottom: 6px;
        padding-top: 5px;
        font-size: 16px;
        font-weight: 500
    }

    .shopping-cart .product-item .product-title>a{
        transition: color .3s;
        color: #000;
        line-height: 1.5;
        text-decoration: none
    }

    .shopping-cart .product-item .product-title>a:hover{
        color: #0da9ef
    }

    .shopping-cart .product-item .product-title small{
        display: inline;
        margin-left: 6px;
        font-weight: 500
    }

    
    .shopping-cart-footer {
        display: table;
        width: 100%;
        padding: 10px 0;
        border-top: 1px solid #000
    }

    .shopping-cart-footer>.column {
        display: table-cell;
        padding: 5px 0;
        vertical-align: middle
    }

    .shopping-cart-footer>.column:last-child {
        text-align: right
    }

    .shopping-cart-footer>.column:last-child .btn {
        margin-right: 0;
        margin-left: 15px
    }

    @media (max-width: 768px) {
        .shopping-cart-footer>.column {
            display: block;
            width: 100%
        }
        .shopping-cart-footer>.column:last-child {
            text-align: center
        }
        .shopping-cart-footer>.column .btn {
            width: 100%;
            margin: 12px 0 !important
        }
    }
}

.loader{
    position: absolute;
    font-size: 48px;
    letter-spacing: 2px;
    top: 40%;
    left: 40%;
  }
  .loader:before {
    content: "Cargando";
    color: #3C484F ;
  }
  .loader:after {
    content: "";
    width: 20px;
    height: 20px;
    background-color: #3C484F;
    border-radius: 50%;
    position: absolute;
    inset: 0;
    margin: auto;
    top: -70px;
    animation: motion 3s ease-in-out infinite;
  }

  @keyframes motion {
    0%, 50%, 100% {
      transform: translateX(0) scale(1);
    }
    25% {
      transform: translateX(-100px) scale(0.3);
    }
    75% {
      transform: translateX(100px) scale(0.3);
    }
  }   

  .btn-avatarDropdown{
    color: #FFF;
  }
  .btn-avatarDropdown:hover{
    color: rgb(185, 185, 185);
  }
  .btn-avatarDropdown:focus{
    color: rgb(185, 185, 185);
    box-shadow: none;
  }      
  .avatarDropdownMenu{
        background-color: #3C484F;   
        .dropdown-item{
            color: #FFF;
            >
            i {
                margin-right: 0.5em;
            }
        }
        .dropdown-item:hover, .dropdown-item:focus{
            background-color: #485157;   
        }
  }
  .order{
    margin-top:40px;
    .badge-secondary{
        color: #fff;
        background-color: #3C484F;
    }
    strong, h5, label{
        color: #3C484F;
    }
    li{
        background-color: #e6e6e6;
    }
    .card, input, input:focus{
        background-color: transparent;
        border-color: #b8b7b7;
    }
    .card-body{
        display: flex;
        justify-content: space-between;
    }
    .form-control{
        background-color: #e8e8e8;
    }
    .form-control:focus {
        color: #212529;
        border-color: #3C484F;
        outline: 0;
        box-shadow: none;
    }
    .li-subtotal{
        padding:0;
    }
    .list-group-item-subtotal {
        position: relative;
        display: block;
        padding: 0.5rem 1rem;
        color: #212529;
        text-decoration: none;
        border: none;
    }
    .total{
        background-color: #cecece;
    }
    .invalid-feedback{
        font-size: 10px;
    }
  }
  
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  
   .checkbox {
        font-weight: 400;
    }
   .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }
  .form-control:focus {
    z-index: 2;
  }
  input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
.button-loader{
    position: relative;
  }
  .button-loader:after{
    content: '';
    height: 4px;
    width:0%;
    display: block;
    background: #003f15;
    animation: 5s lineGrow linear infinite;
  }
  
  @keyframes lineGrow {to{width: 100%;}}